.nav {
    z-index: 9999;
    display: block;
    position: fixed;
    top: 0; left:0; width: 100%; height: 75px;
    background-color: rgb(255, 254, 244);
    box-shadow: 0 4px 2px -2px #CCC;
}

/* Make nav bar not cover top of page */
.nav_space {
    visibility: hidden;
    display: block;
    top: 0; left:0; width: 100%; height: 75px;
}

.nav img {
    float: left;
    height: 60px;
    padding: 5px 5px;
}

.navbar_right {
    float: right;
    margin-right: 2%;
}

.nav li {
    display: inline-block;
    position: right;
    border-radius: 15px;
    font-size: 30;
    color:#005757;
    background-color: #fff;
    padding: 10px 15px;
    box-sizing:border-box;
    border: 2px solid #000; 
    margin-left: 20px; 
}

.nav li:hover {
    color:#fff;
    background-color: #005757;
}

.nav li a {
    color: inherit;
    text-decoration: none;
}

/* footer CSS  */

.footer {
	font-family: bold serif; 
	font-size: 20px;
	background-color: aliceblue;
	text-align: center;
}

.footer a{
	text-decoration: none;
	color: #000000;
}

.footer a:hover {
    color: rgb(190, 190, 22);
    font-size: 21px;
}

.footerImage{
	max-height: 30%;
}

.footer ul {
	letter-spacing: 2.5px;
}


/* line that seperates the footer with the image */

.footer hr {
	width: 70%;
	height:3px;
	margin-left: auto;
	margin-right: auto;
	background-color:#0D395A;
	border: 0 none;
	margin-top: 70px;
	margin-bottom: 70px;
}


